<img
  class="img-fluid bg-primary shadow-sm"
  src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/375px-Angular_full_color_logo.svg.png"
  alt=""
/>

<mat-nav-list dense class="mt-2">
  <a mat-list-item href="https://www.google.com/">
    <span mat-line><span class="mat-h4">Stock</span></span>
    <img
      matListAvatar
      src="https://cdn-icons-png.flaticon.com/512/5902/5902586.png"
      alt=""
    />
  </a>
  <a mat-list-item href="https://www.google.com/">
    <span mat-line><span class="mat-h4">Shop</span></span>
    <img
      matListAvatar
      src="https://cdn-icons-png.flaticon.com/512/831/831468.png"
      alt=""
    />
  </a>

  <mat-divider class="mt-4"></mat-divider>
  <h4 matSubheader>DashBoard</h4>
  <a mat-list-item href="https://www.google.com/">
    <span mat-line><span class="mat-h4">Summary</span></span>
    <img
      matListAvatar
      src="https://cdn-icons-png.flaticon.com/512/2328/2328966.png"
      alt=""
    />
  </a>
  <a mat-list-item href="https://www.google.com/">
    <span mat-line><span class="mat-h4">Customer</span></span>
    <img
      matListAvatar
      src="https://cdn-icons-png.flaticon.com/512/3787/3787995.png"
      alt=""
    />
  </a>
</mat-nav-list>
